<button pButton type="button" icon="pi pi-plus" class="ui-button-info" (click)="showDialog()"
        label="New Device"></button>

<p-table [value]="devices" [lazy]="true" (onLazyLoad)="loadDevices($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>name</th>
      <th>location</th>
      <th>type</th>
      <th>token</th>
      <th>data type</th>
      <th>data value</th>
      <th>status</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-device>
    <tr>
      <td>{{device.name}}</td>
      <td>{{device.location}}</td>
      <td>{{device.type}}</td>
      <td>{{device.token}}</td>
      <td>{{device.data.type}}</td>
      <td>{{device.data.value}}</td>
      <td>{{device.status}}</td>
      <td style="text-align:center">
        <button pButton type="button" icon="pi pi-pencil" class="ui-button-info" (click)="showDialog(device)"></button>
        <button pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="deleteDevice(device)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Device Form" [(visible)]="display" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">name</label>
            <input id="name" type="text" class="form-control" name="name" [(ngModel)]="deviceForm.name"
                   #name="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required/>
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="location">location</label>
            <input id="location" type="text" class="form-control" name="location" [(ngModel)]="deviceForm.location"
                   #location="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && location.invalid }" required/>
            <div *ngIf="f.submitted && location.invalid" class="invalid-feedback">
              <div *ngIf="location.errors.required">location is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="type">type</label>
            <input id="type" type="email" class="form-control" name="type" [(ngModel)]="deviceForm.type"
                   #type="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && type.invalid }" required/>
            <div *ngIf="f.submitted && type.invalid" class="invalid-feedback">
              <div *ngIf="type.errors.required">type is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="token">token</label>
            <input id="token" type="text" class="form-control" name="token" [(ngModel)]="deviceForm.token"
                   #token="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && token.invalid }" required/>
            <div *ngIf="f.submitted && token.invalid" class="invalid-feedback">
              <div *ngIf="token.errors.required">token is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="dataType">data Type</label>
            <select id="dataType" class="form-control" name="dataType" [(ngModel)]="deviceForm.data.type"
                    #dataType="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dataType.invalid }"
                    required>
              <option *ngFor="let type of dataTypes; let i = index;"
                      [selected]="deviceForm.data.type == type">{{type}}</option>
            </select>
            <div *ngIf="f.submitted && dataType.invalid" class="invalid-feedback">
              <div *ngIf="dataType.errors.required">dataType is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="dataValue">data Value</label>
            <input id="dataValue" type="text" class="form-control" name="dataValue"
                   [(ngModel)]="deviceForm.data.value"
                   #dataValue="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dataValue.invalid }"
                   required/>
            <div *ngIf="f.submitted && dataValue.invalid" class="invalid-feedback">
              <div *ngIf="dataValue.errors.required">dataValue is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="status">status</label>
            <p-inputSwitch id="status" name="status"  [(ngModel)]="deviceForm.status"
                           #status="ngModel" [ngClass]="{ 'is-invalid': f.submitted && status.invalid }" required></p-inputSwitch>
            <div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
              <div *ngIf="status.errors.required">status is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <button class="ui-button-primary" pButton icon="pi pi-check" label="Save"></button>
      <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Close"
              class="ui-button-secondary"></button>
    </p-footer>
  </form>
</p-dialog>

